{% extends 'admin_template.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_event.css' %}">

<div class="form-container">
    <h1>Create a New Event</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.event_date.id_for_label }}">Event Date:</label>
            {{ form.event_date }}
            {{ form.event_date.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.event_time.id_for_label }}">Event Time:</label>
            {{ form.event_time }}
            {{ form.event_time.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.location.id_for_label }}">Location:</label>
            {{ form.location }}
            {{ form.location.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.organizer.id_for_label }}">Organizer:</label>
            <select name="organizer" required id="{{ form.organizer.id_for_label }}">
                <option value="">---------</option>
                {% for user in staff_user %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            {{ form.organizer.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.event_image.id_for_label }}">Event Image:</label>
            {{ form.event_image }}
            {{ form.event_image.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.registration_deadline.id_for_label }}">Registration Deadline:</label>
            {{ form.registration_deadline }}
            {{ form.registration_deadline.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.max_participants.id_for_label }}">Max Participants:</label>
            {{ form.max_participants }}
            {{ form.max_participants.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.event_type.id_for_label }}">Event Type:</label>
            {{ form.event_type }}
            {{ form.event_type.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Tags:</label>
            {{ form.tags }}
            {{ form.tags.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.is_active.id_for_label }}">Is Active:</label>
            {{ form.is_active }}
            {{ form.is_active.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.additional_information.id_for_label }}">Additional Information:</label>
            {{ form.additional_information }}
            {{ form.additional_information.errors }}
        </div>

        <button type="submit" class="submit-button">Save</button>
    </form>
</div>
{% endblock %}
